<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="" routerLink="/">Music ON!</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown" *ngIf="currentUser">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Upload
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <!-- <a class="dropdown-item" href="" routerLink="songs/new">Upload Song</a> -->
              <a class="dropdown-item" href="" routerLink="album/new">New Album</a>
          </div>
      </li>
      <li class="nav-item" *ngIf="isAdmin">
          <a class="nav-link" href="" routerLink="/admin/users">Admin</a>
      </li>
    </ul>

    <app-search></app-search>

    <ul class="navbar-nav left-nav" *ngIf="!currentUser ; else user">
        <li class="nav-item">
            <a class="nav-link" href="" routerLink="/login">
                Login
                <span class="oi oi-account-login" title="account login" aria-hidden="true"></span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="" routerLink="/signup">
                Sign Up
                <span class="oi oi-person" title="account signup" aria-hidden="true"></span>
            </a>
        </li>
    </ul>
    <ng-template #user>
        <ul class="navbar-nav left-nav">
            <li  class="nav-item">
                <button class="nav-link dropdown-toggle btn btn-link" id="notifDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="markAsRead()">
                    <fa-icon [icon]="faBell"></fa-icon><span class="badge" [ngClass]="(unread==0) ? 'badge-secondary':'badge-danger'">{{ unread }}</span>
                </button>

                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="notifDropdown">
                    <h6 class="dropdown-header" *ngIf="notifications.length == 0">No new notifications</h6>
                    <a class="dropdown-item" routerLink="{{ notif.link }}" *ngFor="let notif of notifications">
                        <div>{{ notif.str }} </div>
                        <small>{{ notif.createdAt | date }}</small>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink="/notifications">
                        <fa-icon [icon]="faBell"></fa-icon> View all notifications
                    </a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ currentUser.username }}
                    <span class="oi oi-person" title="account signup" aria-hidden="true"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="/users/profile">Profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="" (click)="logout()">
                        Logout
                        <span class="oi oi-account-logout" title="account login" aria-hidden="true"></span>
                    </a>
                </div>
            </li>
        </ul>
    </ng-template>
  </div>
</nav>
