.album-page{
  background-color: #eee;
  padding: 20px;
}
.playlist-description {
    margin-top: 20px;
}
.playlist-description img {
    max-width: 450px;
    border-radius: 30px;
}

.label {
    font-weight: bold;
}
