<div class="container album-page">
    <div class="playlist-description row">
        <img class="col-sm" src="{{ album.cover_art_url }}">
        <div class="col-sm" >
            <h3>
                {{ album.name }} <small><a routerLink="/users/{{ album.createdBy }}">View author</a></small>
            </h3>
            <div class="row">
                <div class="label col-md-4">
                    <label for="">Artist</label>
                </div>
                <div class="col-md-6">
                    {{ album.artist }}
                </div>
            </div>
            <div class="row">
                <div class="label col-md-4">
                    <label for="">Release Date</label>
                </div>
                <div class="col-md-6">
                    {{ album.releaseDate | date }}
                </div>
            </div>
            <div class="row">
                <div class="label col-md-4">
                    <label for="">Genres</label>
                </div>
                <div class="col-md-6">
                    {{ album.genres }}
                </div>
            </div>
            <div class="row">
                <div class="label col-md-4">
                    <label for=""># Likes</label>
                </div>
                <div class="col-md-6">
                    {{ album.totalLikes }}
                </div>
            </div>
            <div class="row">
                <div class="label col-md-4">
                    <label for=""># Dislikes</label>
                </div>
                <div class="col-md-6">
                    {{ album.totalDislikes }}
                </div>
            </div>
            <div class="row">
                <div class="label col-md-4">
                    <label for=""># Reproductions</label>
                </div>
                <div class="col-md-6">
                    {{ album.totalReproductions }}
                </div>
            </div>
            <button type="button" class="btn btn-primary" (click)="playAlbum()">
                Play Album <fa-icon [icon]="faPlay"></fa-icon>
            </button>
            <button type="button" style="margin-left: 5px" class="btn btn-primary" (click)="addPlaylistToQueue()">
                Add To Queue <fa-icon [icon]="faPlus"></fa-icon>
            </button>
        </div>
    </div>
    <br />
    <app-likes *ngIf="enableLikes" [model]="album" [enabled]="enableLikes"
               [modelType]="'albums'" (likeEvent)="likeEvent($event)" [liked]="liked" [disliked]="disliked"></app-likes>
    <app-song-list [songs]="album.songs" [isLoggedIn]="currentUser"></app-song-list>
    <br />
    <div class="row">
        <div class="col">
            <app-comments [comments]="comments"
                          (postComment)="createComment($event)"
                          [enablePost]="currentUser"
            ></app-comments>
        </div>
    </div>
</div>
