<div class="emp-profile">
    <app-user-info [user]="user"></app-user-info>
    <div class="row">
        <div id="actions" class="col">
            <button class="btn btn-primary btn-sm btn-action" (click)="editUser()" *ngIf="isCurrentUser()">
                Edit Info <fa-icon [icon]="faEdit"></fa-icon>
            </button>
            <button class="btn btn-primary btn-sm btn-action" (click)="requestAgent()" *ngIf="isRegularUser()">
                Become Pro! <fa-icon [icon]="faUserRole"></fa-icon>
            </button>
            <button class="btn btn-primary btn-sm btn-action" (click)="sendMessage()" *ngIf="currentUser && !isCurrentUser()">
                Message <fa-icon [icon]="faMessage"></fa-icon>
            </button>
            <span *ngIf="isAdmin()">
                <button class="btn btn-warning btn-sm btn-action" (click)="changeRole()">
                    Change Role <fa-icon [icon]="faUserRole"></fa-icon>
                </button>
                <button class="btn btn-warning btn-sm btn-action" (click)="blockUser(false)" *ngIf="isBlocked; else block">
                    Unblock <fa-icon [icon]="faBan"></fa-icon>
                </button>
                <ng-template #block>
                    <button class="btn btn-danger btn-sm btn-action" (click)="blockUser(true)">
                        Block <fa-icon [icon]="faBan"></fa-icon>
                    </button>
                </ng-template>
                <button class="btn btn-danger btn-sm btn-action" (click)="deleteUser()">
                    Delete <fa-icon [icon]="faUserDel"></fa-icon>
                </button>
            </span>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col">
            <ngb-tabset>
                <ngb-tab title="Albums">
                    <ng-template ngbTabContent>
                        <div class="ngtab-content">
                            <h3>{{ albums.length }} Albums</h3>
                            <app-list-collection
                                [collection]="albums"
                                [link]="'/album'"
                                (onDelete)="deleteAlbum($event)"
                                [deleteEnabled]="isCurrentUser() || isAdmin()"
                            ></app-list-collection>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Playlists">
                    <ng-template ngbTabContent>
                        <div class="ngtab-content">
                            <h3>{{ playlists.length }} Playlists</h3>
                            <app-list-collection
                                [collection]="playlists"
                                [link]="'/playlist'"
                                (onDelete)="deletePlaylist($event)"
                                [deleteEnabled]="isCurrentUser() || isAdmin()"
                            ></app-list-collection>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Messages" *ngIf="isCurrentUser()">
                    <ng-template ngbTabContent>
                        <div class="ngtab-content">
                            <h3>Messages</h3>
                            <app-messages-view [showTitle]="false"></app-messages-view>
                        </div>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
    </div>
</div>
