<div class="container" *ngIf="playlist">
    <div class="playlist-description row">
        <img class="col-sm" src="{{ playlist.cover_art_url }}">
        <div class="col-sm" >
            <h3>
                {{ playlist.name }}  <small><a routerLink="/users/{{ playlist.createdBy }}">View author</a></small>
            </h3>
            <div class="row">
                <div class="label col-md-4">
                    <label for="">Created At</label>
                </div>
                <div class="col-md-6">
                    {{ playlist.createdAt | date }}
                </div>
            </div>
            <button type="button" class="btn btn-primary" (click)="playPlaylist()">
                Play <fa-icon [icon]="faPlay"></fa-icon>
            </button>
            <button type="button" style="margin-left: 5px" class="btn btn-primary" (click)="addPlaylistToQueue()">
                Add To Queue <fa-icon [icon]="faPlus"></fa-icon>
            </button>
        </div>
    </div>
    <br />
    <app-song-list [songs]="playlist.songs" [isLoggedIn]="currentUser"></app-song-list>
    <br />
</div>
