<div class="row">
    <div class="col">
        <span>{{ likes }} likes</span>
        <button class="btn btn-small btn-primary" type="button" (click)="like()">
            <span class="oi oi-thumb-up" title="plus" aria-hidden="true"></span>
        </button>
        <span>{{dislikes}} dislikes</span>
        <button class="btn btn-small btn-primary" type="button" (click)="dislike(i)">
            <span class="oi oi-thumb-down" title="plus" aria-hidden="true"></span>
        </button>
    </div>
    <div class="col">
    </div>
</div>
