<div class="row bootstrap snippets" *ngIf="currentUser">
    <div class="col-md-6 col-md-offset-2 col-sm-12">
        <div class="comment-wrapper">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h2>Comments</h2>
                </div>
                <div class="panel-body">
                    <textarea [(ngModel)]="newComment" class="form-control" placeholder="write a comment..." rows="3"></textarea>
                    <br>
                    <button type="button" class="btn btn-primary pull-right" (click)="addComment()">Post</button>
                    <div class="clearfix"></div>
                    <hr>
                    <ul class="media-list">
                        <li class="media" *ngFor="let comment of comments">
                            <a href="#" class="pull-left">
                                <img src="{{ comment.img }}" alt="" class="img-circle">
                            </a>
                            <div class="media-body">
                                <span class="text-muted pull-right">
                                    <small class="text-muted">{{ comment.date }}</small>
                                </span>
                                <strong class="text-success">{{ comment.username }}</strong>
                                <p>
                                    {{ comment.comment }}
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
